# ======================================================
# Python
# ======================================================
__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environments
# ======================================================
.venv/
venv/
env/

# ======================================================
# Jupyter Notebook
# ======================================================
.ipynb_checkpoints/

# ======================================================
# VS Code
# ======================================================
.vscode/

# ======================================================
# Operating System Files
# ======================================================
.DS_Store
Thumbs.db

# ======================================================
# Environment Variables
# ======================================================
.env

# ======================================================
# Log Files
# ======================================================
*.log

# ======================================================
# Temporary Files
# ======================================================
*.tmp
*.temp

# ======================================================
# Python Packaging
# ======================================================
build/
dist/
*.egg-info/

# ======================================================
# Database Cache Files
# ======================================================
*.db
*.sqlite

# Microsoft Office Temporary Files
~$*